body {
  padding: 0px;
  margin: 0px;
  background-color: #ddd;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px; }

.container {
  display: inline-block;
  width: 95%; }

/*sections*/
section, .intro, .stripe {
  display: block;
  padding: 20px 0px; }

.intro {
  font-weight: 100;
  /*background-image: radial-gradient(ellipse farthest-side at 100% 100%, #85D8CE 10%, #085078 120%);*/
  background-image: url(../IMG_8165.jpg);
  background-position: 50% 30%;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro .controls {
    margin: 20px 0px 0px 0px; }

.stripe {
  font-weight: 100;
  background-color: #444; }

/*Markup elements*/
section.intro h1, .intro h1, .intro.stripe h1 {
  font-family: 'Roboto', sans-serif;
  /*font-family: "Indie Flower", cursive;*/
  font-size: 70px;
  font-weight: 100;
  text-shadow: 1px 1px 3px black; }
section.intro p, .intro p, .intro.stripe p {
  font-size: 20px; }
section.intro i, .intro i, .intro.stripe i {
  font-weight: 200; }
section.intro hr, .intro hr, .intro.stripe hr {
  opacity: 0.2;
  background-color: #fff;
  border-color: #fff;
  border-bottom: none; }

/*buttons & fields*/
.button, .input {
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  color: lightgreen;
  background: none;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: 0.25s;
  -webkit-backface-visibility: hidden; }

.button {
  padding: 7px 10px;
  background-color: white }
  .button:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
    background-color: darkgreen; }
  .button:focus {
    outline:none;
  }

.input {
  height: 41px;
  padding: 7px;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .input:hover {
    background: none;
    color: #fff; }

.field {
  margin-top: 7px; }

.field-right {
  width: 10%;
  height: 41px;
}

.field-left {
  display:none;
  /*width: 80%;*/
  /*float: left;*/
  /*border-right: none;*/
  /*border-top-right-radius: 0px;*/
  /*border-bottom-right-radius: 0px;*/
  
}

.referral {
  text-align: left; }
  .referral a {
    color: white;
    font-weight: 200; }
  .referral ul {
    list-style: none; }
    
.social-feed-element:nth-child(2) {
    margin-top: 0;
}
    
.social-feed-element {
    width: 45%;
    float: left;
    margin-right: 2.5% !important;
    margin-left: 2.5% !important;
}

.fa {
    /*font-size: 20px !important;*/
    vertical-align: middle;
}

.fa.pull-right {
    float: right;
    margin-top: 6px;
    color: #ddd;
    font-size: 28px;
}

.social-feed-element a:hover, .social-feed-element a:active {
    text-decoration: none !important;
}

.social-feed-element .media-body > p {
    margin-top: 10px;
}

.social-feed-element .author-title {
    color: white !important;
    font-weight: 700 !important;
}

.social-feed-element .muted {
    color: #bbb !important;
    margin-left: 5px;
}

.social-feed-element .media-object {
    box-shadow: 0px 0px 4px 0px lightgrey;
    border: 1px solid white;
    margin: 4px;
}

.title-bar {
  background-color: grey;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  border-bottom: 1px solid lightgrey;
  z-index: 1;
  position: relative;
  padding: 5px 15px !important;
}

.content-bottom {
  border-top: 1px solid lightgrey;
  padding: 20px 15px !important;
}

.read-more {
  padding: 15px 0px;
  text-align: center;
  border-top: 1px solid #aaa;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
  transition: 0.25s;
  color:#999;
}

.read-more:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  background-color: #eee;
  color:#555;
}

@media screen and (max-width: 767px) {
    .container {
        display: inline-block;
        width: 80%;
    }
    .social-feed-element {
      width: 95%;
      float: none;
      margin-right: 2.5% !important;
      margin-left: 2.5% !important;
    }
    .social-feed-element:nth-child(2) {
      margin-top: 25px;
    }
    .field-right {
      width: 20%;
      height: 41px;
    }
}

@media screen and (max-width: 480px) {
    .container {
      display: inline-block;
      width: 100%;
    }
}

/*# sourceMappingURL=example.css.map */
